<center>
<span style="font-size:120%; font-style:italic;">
	Submit your event online</span> <br /> 
	to the TF team. You'll be e-mailed a copy too.
</center>

<br /><br />
<%= link_to "Get started!", new_path, :class => "getstarted_button round" %>

<br /><br /><br />

<p class="small">Legal stuff goes here.
