<center>
<span style="font-size:120%; font-style:italic;">
	Submit your event online</span> <br /> 
	to the TF team. You'll be e-mailed a copy too.
</center>

<br /><br />
<center><%= link_to "Get started!", new_path, :class => "css3button round" %></center>
<br /><br /><br />

<p class="small">Legal stuff goes here.   <br /><br />
	

