<header>

<%= image_tag("header.jpg", :alt => "TicketForce banner", :size => "960x117") %>

<div id="logotopper">
	<a href="/"><img src="assets/images/header.jpg" width="960" height="117" /></a>
	<ul id="nav" class="sf-menu">
  <li id="home"><a href="/">Home</a></li>
		<li id="solutions">
			<a href="ticketing-solutions.php">Ticketing Solutions</a>
			<ul>
				<li><a href="ticketing-solutions.php">Overview</a></li>
				<li><a href="http://www.ticketforce.com/easytix/online-ticketing.html">EasyTix</a></li>
                <li><a href="facebook-ticketing.php">Facebook Ticketing</a></li>
				<li><a href="http://www.ticketforce.com/easytix/ticket-printing.html">Ticket Printing</a></li>
				<li><a href="schedule-demo.php">Schedule a Demo</a></li>
				<li><a href="contact-business.php">Contact Information</a></li>
			</ul>
		</li>
		<li id="help">
			<a href="#">Need Help?</a>
			<ul>
				<li><a href="faq.php">FAQ</a></li>
				<li><a href="contact.php">Contact Information</a></li>
			</ul>
		</li>
		<li id="about">
			<a href="#">About Us</a>
			<ul>
				<li><a href="connect.php">Follow Us</a></li>
				<li><a href="news.php">News</a></li>
                <li><a href="http://blog.ticketforce.com" target="_blank">TicketVoice Blog</a></li>
                <li><a href="testimonials.php">Testimonials</a></li>
				<li><a href="jobs.php">Join the Team</a></li>
			</ul>
		</li>
		<li id="clients">
			<a href="#">Need Help?</a>
			<ul>
				<li><a href="https://tickets.ticketforce.com/reporting/login.asp" target="_blank">Promoters</a></li>
				<li><a href="http://tfsupport.ticketforce.com/login.asp" target="_blank">Support Login</a></li>
                <li><a href="socialmedia.php">Social Media Toolkit</a></li>
			</ul>
		</li>
		<li id="contact"><a href="contact.php">Contact Us</a></li>
	</ul><!-- #nav -->
	<img src="assets/images/nav_shadow.gif" width="960" height="34" />
</div>


<hr>
    <nav class="round">
		<ul>
			<li>nav1</li>
			<li>nav2</li>
		</ul>
	</nav>
</header>